<%= stylesheet_link_tag "campform", "data-turbo-track": "reload" %>
<center>
  <%= form_with model: [@compaign, @compaign.tags.new], class:"form-main shadow" do |f| %>
    <div class="field form-outline mb-4">
      <%= f.label :name,class:"form-label" %> <br>
      <%= f.text_field :name,class:"form-control" %>
    </div>
    <div class="field form-outline mb-4 ">
      <%= f.label :supertag_id,class:"form-label" %> <br>
      <%= f.number_field :supertag_id,class:"form-control" %>
    </div>
    <div class="actions d-flex justify-content-center mx-4 mb-3 mb-lg-4">
      <%= f.submit "Save Tag", class: "btn tomato-clr txt-white px-5" %>
    </div>
  <% end %>
</center>
