<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="https://scontent.flhe5-1.fna.fbcdn.net/v/t39.30808-6/350015915_198214636504195_6442841241359991837_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=174925&_nc_ohc=A0NwiiCxo2YAX_RW4yB&_nc_ht=scontent.flhe5-1.fna&oh=00_AfA20oDOBExM1xkKEtIDr9P6SCgoxKkUzyn5hs76Pdw30A&oe=649762A5">
    <title>Campaign Hub</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg tomato-clr justify-content-around p-2 sticky-top">
      <%= link_to 'CAMPAIGN HUB', root_path, class: "navbar-brand active txt-white px-5" %>
      <% if user_signed_in? %>
        <div class="search-holder d-flex">
          <form action="/compaigns/search" accept-charset="UTF-8" method="get">
            <input type="text" class="w-100 search-bar" placeholder="Search Campaign By Tag" name="tag_name" id="tag_name" style="text-align:center">
            <input type="submit" name="commit" value="Search" class="btn btn-search">
          </form>
        </div>
      <% end %>


      <div id="user_nav">
        <% if user_signed_in? %>
          <%= link_to 'Profile', user_path(current_user), :class => "btn btn-light txt-tomato "  %>
          <%= link_to 'Sign out', destroy_user_session_path, :class => "btn btn-light txt-tomato ",  data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %>
        <% else %>
        
         <%= link_to 'Sign up', new_user_registration_path, :class => "btn btn-light txt-tomato " %>
          <%= link_to 'Sign in', new_user_session_path, :class => "btn btn-light txt-tomato" %>
        <% end %>
      </div>
    </nav>
   <!--- <% if flash.any? %>
      <script>
        $(document).ready(function() {
          $('#flashModal').modal('show');
        });
      </script>
    <% end %>
    <%= render 'layouts/flash_modal' %> -->
    <p class="notice" style="color:green"><%= notice %></p>
    <p class="alert" style="color:red"><%= alert %></p>
    <%= yield %>
    <div class="container-fluid g-0 ">
      <footer class="text-center text-white tomato-clr m-0" >
        <div class="text-center p-3 tomato-clr">
          © 2023 Copyright
          <h6 class="text-white">STACKUP TECHNOLOGIES</h6>
        </div>
      </footer>
    </div>

  </body>
</html>
